html,
body {
    height: 100%;
    width: 100%;
    font-family: 'poppins', sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #fff
  }

  
  .dropdown {
    float: left;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    padding: 0;
    border: none;
  }

  .dropdown:focus {
    border: none;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .login {
    display: flex;
    justify-content: space-between;
  }

  .login-btn {
    margin: 1rem;
    margin-top: 1rem;
    background-color: #ff104f;
    color: white;
    cursor: pointer;
    width: 10rem;
    border: none;
    padding: 0.5rem;
    border-radius: 8px;

  }

  .login-btn:hover {
    transform: scale(1.2);
    background-color: #bc0233;
    color:#fff;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  }

  /* Registration Form Section */

  .registration__container {
    height: 500px;
    margin-top: 8rem;
    max-width: 100%;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 0 auto;
  }

  .registration__heading {
    margin-bottom: 50rem;
    margin: 0 auto;
    color: #ff104f;
  }

  .description {
    max-width: 100%;
    width: 500px;
    display: block;
    margin-left: 10rem;
    margin-right: 0;

  }

  .form-class {
    margin: 0 auto;
    margin-left: 2rem;
  }

  .card {
    background-color:rgb(53, 51, 51);
    color:#ddd;
    height: 40rem;
    width: 80rem;
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 8px;
  }

  a {
    color: #ff104f;
    text-decoration: none;
  }

  input {
    width: 10rem;
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
  }

  input #terms-and-condition{
    margin-left: 0;
  }

  .submit {
    margin-top: 1rem;
    background-color: #ff104f;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 10rem;
    border: transparent;
  }

  .submit:hover {
    transform: scale(1.2);
    color:#fff;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  }

  .terms {
    margin-top: 1rem;
    margin-left: -4rem;
  }

  .t-c-span {
    margin-left: -4rem;
  }

  /* Login form section */

  .login-welcome-note {
    text-align: center;
    font-weight: 700;
    font-size: 10px;
  }


  .login-form {
    margin: 0 auto;
    margin-left: 35rem;
    margin-right: 0;
    margin-top: 5rem;
  }

  sup{
    color: red;
  }

  /* success form section */

  .success-heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .success-form {
    margin: 0 auto;
    margin-left: 35rem;
    margin-right: 0;
    margin-top: 5rem;
  }

  .welcome-note {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-top: 3rem;
    color: #ff104f;
  }

  .success-icon {
    color: white;
  }
