@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


html,
body{
    height: 100%;
    width: 100%;
    background: linear-gradient(145deg, #1e2024, #23272b);
    margin: 0;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Flex Box Design */

.flex_container {
    max-width: 100%;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;   
}

.flex_wrapper {
    display: flex;
    align-content: center;
    margin: 10rem auto;
}

.content {
    display: block;
    margin-left: 50px;
    margin-right: 60px;
    max-width: 100%;
    width: 60%;
}

.card1 {
    background: rgb(224, 133, 51);
    color: #fff;
    height: 7rem;
    padding-top: 3rem;
    padding-bottom: 17rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.card2 {
    background: rgb(12, 105, 133);
    color: #fff;
    height: 7rem;
    padding-top: 3rem;
    padding-bottom: 17rem;
}

.card3 {
    background: rgb(5, 64, 63);
    color: #fff;
    height: 7rem;
    padding-top: 3rem;
    padding-bottom: 17rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.btn {
    margin-top: 3rem;
    padding: 1rem;
    color: #fff;
    border: 3px solid #fff;
    width: 10rem;
    background: #fff;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 200ms;
    font-family: 'Lexend Deca', sans-serif;
}


.card1 .btn {
    color: rgb(224, 133, 51);
}

.card2 .btn {
    color: rgb(12, 105, 133);
}

.card3 .btn {
    color: rgb(5, 64, 63);
    margin-top: 4rem;
}

.btn:hover {
    background: transparent;
    color: #fff;
    transform: scale(1.05);
}

.heading{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

.description{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-family: 'Lexend Deca', sans-serif;
}

a:hover {
  color: rgb(224, 133, 51);
}